#main-header h1 {
    color: blue;
}

.post p {
    font-size: 18px;
}

#primary {
    background-color: yellow;
}

.highlight h2 {
    color:red;
    font-weight: bold;
}

footer {
    text-align: center;
}




